{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}


{% block content %}
{% include 'base/admin_style.html' %}
<form method="POST" class="contact-form" style="width:65%; align:center; margin: 0 auto; margin-top:35px;">
    <h4 style="text-align:center;">{{ title }}</h4>
    <table class="table table-striped" style="margin: 0 auto; width: 80%">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Company</th>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Landing Time</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ flight.company }}</td>
            <td>{{ flight.origin }}</td>
            <td>{{ flight.destination }}</td>
            <td>{{ flight.departure_time }}</td>
            <td>{{ flight.landing_time }}</td>
            <td>{{ flight.price }}</td>
        </tr>
        </tbody>
    </table>
    <label for="credit_card">Credit Card:</label>
    <input class="form-control" type="text" pattern="^[0-9]{16}$" name="credit_card" id="credit_card" required>
    <div class="d-grid" style="margin-top:10px;">
        <button class="btn btn-dark btn-lg " id="submitButton" type="submit">Book</button>
    </div>
</form>
{% endblock %}
