{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% if tickets %}
        <table class="table table-striped" style="margin: 0 auto; width: 80%">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Company</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Landing Time</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Link</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ ticket.flight.company }}</td>
                    <td>{{ ticket.flight.origin }}</td>
                    <td>{{ ticket.flight.destination }}</td>
                    <td>{{ ticket.flight.departure_time }}</td>
                    <td>{{ ticket.flight.landing_time }}</td>
                    <td>{{ ticket.flight.price }}</td>
                    <td>{{ ticket.status }}</td>
                    <td><a href="{% url 'flight:update_status_ticket' ticket.id %}"> Update</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span style="color: red"> No Tickets Yet</span>
    {% endif %}
{% endblock %}
